<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h1>{{ about.title }}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p>This sample website was created to test out basic AngularJS functionality. I do <strong>not</strong> certify that what has been done is the best or most efficient way. Currently new to Angular, so if you feel like something isn't being done right - please <a href="https://www.linkedin.com/in/patryk0605/" target="_blank">reach out</a> to me. I would very much value any input! Also, if you're curious about how any component works - then I would happy to explain it to you as well.</p>
        <p>Below is a list of major libraries used within this project. Click to view their respective github page</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 link-custom">
        <a href="https://github.com/angular/angular.js" target="_blank">
          <div class="text-center bordered-boxes">
            <h3>AngularJS</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 link-custom">
        <a href="https://github.com/angular-ui/bootstrap" target="_blank">
          <div class="text-center bordered-boxes">
            <h3>AngularUI Bootstrap</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 link-custom">
        <a href="https://github.com/angular-ui/ui-router" target="_blank">
          <div class="text-center bordered-boxes">
            <h3>AngularUI Router</h3>
          </div>
        </a>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-sm-4 link-custom">
        <a href="https://github.com/twbs/bootstrap" target="_blank">
          <div class="text-center bordered-boxes">
            <h3>Bootstrap</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 link-custom">
        <a href="https://github.com/webpack/webpack" target="_blank">
          <div class="text-center bordered-boxes">
            <h3>Webpack</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 link-custom">
        <a href="https://github.com/webpack/webpack-dev-server" target="_blank">
          <div class="text-center bordered-boxes">
            <h3>webpack-dev-server</h3>
          </div>
        </a>
      </div>
    </div>

  </div>
</main>