<main>
  <div class="row">
    <div class="col-sm-12">
      <div style="height: 305px">
        <div uib-carousel active="active" interval="homeCarouselInterval" no-wrap="noWrapSlides">
          <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{slide.id + 1}}</h4>
              <p>{{joke}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>About</h2>
        <p>Learn about the AngularJS Demo App by reviewing the  simple about page.</p>
        <p><a class="btn btn-default" ui-sref="about" role="button">Learn More &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2>Source Code</h2>
        <p>Curious how it works? No problem! There are no secrets around here.</p>
        <p><a class="btn btn-default" target="_blank" href="https://bitbucket.org/patryk0605/angularjs-demo-app" role="button">View Source Code &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2>Contact</h2>
        <p>Have a question? Just want to say hi? Why not send a message to the developer!</p>
        <p><a class="btn btn-default" target="_blank" href="https://www.linkedin.com/in/patryk0605/" role="button">LinkedIn &raquo;</a></p>
      </div>
    </div>
  </div>
</main>