@import "bootstrap.less";
@import "about.less";

.main {
  margin-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 775px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
